<!-- Describe task in general -->

<p>
    Your mission is to calculate the area covered by a union of rectangles. The rectangles can have a non-empty intersection, which means that a simple sum of given rectangle areas doesn't work. Every rectangle is represented as 4 integers. The first two integers are the coordinates of a left-top corner, and the next two - of a bottom right corner.
</p>

<p style="text-align: center;"> 
    <img  title="input" src="{{MEDIA}}input.png" alt="example" style="max-height: 300px"/>   
</p>
<p style="text-align: center;"> 
    <img  title="result" src="{{MEDIA}}result.png" alt="example" style="max-height: 300px"/>   
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input: </strong>
    {% if interpreter.slug == "js-node" %}
        Array of arrays.
    {% else %}
        Iterable with tuples. 
    {% endif %}
</p>

<p>
    <strong>Output: </strong> Int. 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">rectanglesUnion([
    (6, 3, 8, 10),
    (4, 8, 11, 10),
    (16, 8, 19, 11)
]) == 33
</pre>
{% else %}
<pre class="brush: python">
rectangles_union([
    (6, 3, 8, 10),
    (4, 8, 11, 10),
    (16, 8, 19, 11)
]) == 33
</pre>
{% endif %}
</div>